<div><app-admin-header></app-admin-header></div><br>
<h3 align="center">Approval Page for Pending Travel Insurance</h3> 
<table class="table" >  
    <tr ngclass="btn-primary">  
      <th class="tbl2">Policy Id </th>  
      <th class="tbl2">Type Of Travel </th>  
      <th class="tbl2">Source</th>  
      <th class="tbl2">Destination</th>  
      <th class="tbl2">Mode Of Transport  </th>  
      <th class="tbl2">Age Of traveller </th>  
      <th class="tbl2">Travel Start Date</th>  
      <th class="tbl2">Travel End Date</th>  
      <th class="tbl2">Medical Condition</th>  
      <th class="tbl2"> Mobile Number </th>   
      <th class="tbl2"> Insurance Plan</th> 
      <th class="tb12">Approve</th>
    </tr>  
    <tr *ngFor="let travelinsurance of travelinsurances">            
      <td class="tbl2" #pid value="travelinsurance.Policy_Id">{{travelinsurance.Policy_id}}</td>  
      <td class="tbl2">{{travelinsurance.Type_Of_Travel }}</td>  
      <td class="tbl2">{{travelinsurance.Source}}</td>  
      <td class="tbl2">{{travelinsurance.Destination}}</td>  
      <td class="tbl2">{{travelinsurance.Mode_Of_Transport}}</td>  
      <td class="tbl2">{{travelinsurance.Age_Of_traveller }}</td> 
      <td class="tbl2">{{travelinsurance.Travel_Start_Date  | date }}</td>  
      <td class="tbl2">{{travelinsurance.Travel_End_Date| date }}</td>
      <td class="tbl2">{{travelinsurance.Any_Medical_Condition}}</td>
      <td class="tbl2">{{travelinsurance.Mobile_Number}}</td>    
      <td class="tbl2">{{travelinsurance.Insurance_Plan }}</td>    
      <td><input type="submit" (click)="onSubmit(travelinsurance.Policy_id)" value="Approve"></td>
      <td><input type="submit" (click)="onReject(travelinsurance.Policy_id)" value="Reject"></td>
    </tr>  
</table>