<!-- <nav class="navbar navbar-dark bg-dark">   -->
    <nav class="navbar navbar-expand-lg navbar-light nav-color">
        <img src="../assets/General Insurance.jpg" class="navbar-brand" style="height: 70px;width:180px"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="spacer"></div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav my-2 my-lg-0" style="margin-left: 30%;">
            
              <a class="nav-link nav-font" routerLink="/home"><span class="nav-font">Home</span></a>
            
            
              <a class="nav-link nav-font" routerLink="/contact"><span class="nav-font">Contact</span></a>
            
            
              <a class="nav-link nav-font" routerLink="/aboutus"><span class="nav-font">About Us</span></a>
            
            
              <!-- <a class="nav-link nav-font" routerLink="/dummy"><span class="nav-font">Help</a> -->
            
            
              <a class="nav-link nav-font" routerLink="/FAQ"><span class="nav-font">FAQ</span></a>

              <a class="nav-link nav-font" routerLink="/register"><span class="nav-font">Register</span></a>

              <a class="nav-link nav-font" routerLink="/login" (click)="loginClicked()" *ngIf="!isUserLoggedIn"><span class="nav-font">Login</span></a>

              <a class="nav-link nav-font" routerLink="/user-dashboard" *ngIf="isUserLoggedIn"><span class="nav-font">My Account</span></a>

              <a class="nav-link nav-font" routerLink="/home" (click)="logoutClicked()" *ngIf="isUserLoggedIn"><span class="nav-font">Logout</span></a>
          </div>
        </div>
      </nav>
  <!-- </nav> -->
  
  
  
