<p>What is a General Insurance
    A policy or agreement between the policyholder and the insurer which is considered only after realization of the premium.
    The premium is paid by the insurer who has a financial interest in the asset covered.
    The insurer will protect the insured from the financial liability in case of loss.
    
    How does the concept of General Insurance work?
    Insurance is a concept that applies to a large group of people which may suffer the same risk in the same conditions or region. The money collected as the premium can be called as a pool and when anyone faces a loss, the person is paid from that pool.
    
    Still perplexed at how does a general insurance policy come into play? Consider that your mother suffered a heart attack suddenly and she needs a transplant. At the same time, your daughter’s college fee was due. It definitely is a huge expense to be made at the same time and none can be preferred over the other. In this time of stress, the family’s health insurance policy can save your burden and the fees can be paid from the savings. A General Insurance Policy here works to save your burden for money.
    
    Once we've understood what General Insurance is, let us understand how and when will the policy apply.</p>
