<br>
<div id="content" #content style="align-self: center; ">  
        
      <div >  
        <input type="button" value="Download Policy" (click)="PrintPolicy()"/>  
      </div>  
  </div>  
  <br><br>
  <table id="contentToConvert" style="margin-left: 30%; ">
    <tbody>
        <tr>
            <td colspan="4" style="text-align: center;">The General Insurance - V</td>  
                      
        </tr>
        <tr></tr>
        <tr>
            <td colspan="4" style="text-align: center;">
                Motor Insurance
            </td>
                
        </tr>
    
    
        <tr>
            <td>Policy Number :</td>
            <td>{{data}}</td>
            <td>Policy Start Date : </td>
            <td>{{policy.Policy_Start_Date}}</td>
        </tr>

        <tr>
            <td>Insured Name :</td>
            <td>{{policy.Name}}</td>
            <td>Policy End Date :</td>
            <td>{{policy.Policy_End_Date}}</td>
        </tr>
        
        <tr>
            <td>Insured Address :</td>
        </tr>
            <tr>
                <td>{{policy.Door_Number}}, {{policy.Street}}</td>
            </tr>
            <tr>
                <td>City :</td>
                <td>{{policy.City}}</td>
                <td>District :</td>
                <td>{{policy.District}}</td>
            </tr>
            <tr>
                <td>State :</td>
                <td>{{policy.State}}</td>
                <td>Pincode :</td>
                <td>{{policy.Pincode}}</td>
            </tr>
            <tr>
                <td>Mobile Number :</td>
                <td>{{policy.Mobile_Number}}</td>                
            </tr>
        <!-- </tr> -->

        <tr>
            <td>Vehicle Details :</td>
        </tr>
            <tr>
                <td>Registration Number :</td>
                <td>{{policy.Registration_Number}}</td>
                <td>Engine Number :</td>
                <td>{{policy.Engine_Number}}</td>
            </tr>
            <tr>
                <td>RTA Name :</td>
                <td>{{policy.RTA_Name}}</td>
                <td>Chassis Number :</td>
                <td>{{policy.Chassis_Number}}</td>
            </tr>
            <tr>
                <td>Purchase Date :</td>
                <td>{{policy.Purchase_Date}}</td>        
                <td>Vehicle Manufacturer:</td>
                <td>{{policy.Manufacturer}}</td>                
            </tr>
            <tr>
                <td>Vehicle Model :</td>
                <td>{{policy.Model_Name}}</td>        
                <td>Cubic Capacity :</td>
                <td></td>                
            </tr>
            <tr>
                <td>Type of Body :</td>
                <td></td>        
                <td>Seating Capacity :</td>
                <td></td>                
            </tr>
        <!-- </tr> -->
        <tr> </tr>
        <tr> </tr>
        <tr>
            <td>Own Damage Premium</td>
        </tr>
        <tr>
            <td>Premium :</td>
            <td>{{premium}}</td>
        </tr>
        <tr>
           
        </tr>
        <tr>
            <td>Total Amount :</td>
            <td>{{premium}}</td>
        </tr>
    </tbody>
  </table>