<div><app-admin-header></app-admin-header></div><br>

<h3 align="center">Approval Page for Pending Travel Claim</h3> 
<table class="table" >  
    <tr ngclass="btn-primary">  
      <th class="tbl2">  Travel_Claim_Id</th>  
      <th class="tbl2">Travel_Policy_Id</th>  
      <th class="tbl2">Ticket_Copy</th>  
      <th class="tbl2">Reason_for_Claim</th>  
      <th class="tbl2">Mobile_Number </th>  
      <th class="tbl2">Amount_Sanctioned </th>  
      <th class="tbl2">Complaint_Copy</th>  
      <th class="tbl2">Option</th>  
    </tr>  
    <tr *ngFor="let travelclaim of travelclaims">            
      <td class="tbl2">{{travelclaim.Travel_Claim_Id}}</td>  
      <td class="tbl2">{{travelclaim.Travel_Policy_Id }}</td>  
      <td class="tbl2">{{travelclaim.Ticket_Copy}}</td>  
      <td class="tbl2">{{travelclaim.Reason_for_Claim }}</td>  
      <td class="tbl2">{{travelclaim. Mobile_Number}}</td>  
      <td class="tbl2"><input type="number" #amt ></td>  
      <td class="tbl2">{{travelclaim.Complaint_Copy}}</td> 
      <td class="tbl2"><input type=submit value="Approve" (click)="onSubmit(travelclaim.Travel_Claim_Id,amt.value)" class="btn btn-success"></td>
      <td class="tbl2"><input type=submit value="Reject" (click)="onReject(travelclaim.Travel_Claim_Id,amt.value)" class="btn btn-danger"></td>
    </tr>  
</table>