<div><app-header></app-header></div>
<body style="background-color:whitesmoke;" class="background">
  <div class="content ldiv chome">
  
<div   class="cdiv">
  <p>Driven to provide insurance solutions to customers, General Insurance has secured many customers. Right from offering comprehensive car insurance to a wide range of health insurance plans, we always take a Customer First Approach. Our plethora of offerings mainly include car insurance, two wheeler insurance, travel insurance. Backed by a super strong customer support team and seamless service driven claims operation, we ensure 360 degree customer happiness.</p>
<!-- <router-outlet></router-outlet> -->
</div>
</div>
  <div class="content chome" role="main">
    <div class="card-container" style="text-align:center; margin-left: 75%;">
      
        <a class="card" rel="noopener" routerLink="/buy-insurance">
  
        <span>Buy Insurance</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
      <br>
      <a class="card" rel="noopener" routerLink="/claim-insurance"  >
  
        <span>Claim Insurance</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
      <br>
      <a class="card" rel="noopener" routerLink="/Renew-insurance"  >
  
        <span>Renew Insurance</span> 
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
      <br>
      <a class="card" rel="noopener" routerLink="/estimate-insurance"  >
  
        <span>Estimate Insurance Calculation</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
    </div>
   
    <!-- Footer -->
    
  
    
  
  </div>
 
</body>
<!-- <footer >
  <span style="margin-left: 37%;">© 2020 Copyright Larsen and Toubro Infotech</span>
</footer> -->
